{% extends "base.html" %}
{% block content %}
<h1>Property catalogue</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for obj in object_list %}
    <div class="col">
      <div class="card h-100">
        {% if obj.thumbnail_url %}
          <img src="{{ obj.thumbnail_url }}" class="card-img-top" alt="thumbnail">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'property:detail' obj.pk %}">
              {{ obj.street }}, {{ obj.city }}
            </a>
          </h5>
          <p class="card-text">€{{ obj.listing_price }}</p>
        </div>
      </div>
    </div>
  {% empty %}
    <p>No properties yet…</p>
  {% endfor %}
</div>

{% include "_pagination.html" %}
{% endblock %}